// Tamaños responsive
$bp-tablet: 768px;
$bp-tablet-horizontail: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Colores

$black:rgba(21, 21, 21, 1);
$green: rgba(78, 225, 160, 1);
$gray:rgba(36, 36, 36, 1);
$grey_light: rgba(217, 217, 217, 1)




